.login {
    width: 20%;
    margin: auto;
}
.otherLogin {
    margin: 30px;
}
@media (max-width: 767px) {
    .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
      flex-direction: column;
    }
    .login {
      width: 200px;
    }
  }
